/* home.css */
body {
        background: linear-gradient(to bottom right, rgb(143, 225, 255), rgb(204, 255, 208));
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover
      }

p {
    text-align: center;
}

/* imgタグの中央揃えを追加 */
.center-image {
    display: inline-block;
    margin: 0 auto; 
    width: 500px;
    height: 230px;
    object-fit: cover;
    object-position: top
}

a.home{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    margin: auto;
    margin-bottom: 50px;
    padding: 1rem 4rem;
    font-weight: bold;
    color:rgb(119, 215, 250);/*:#3dca7a;*/
    border-bottom: 2px solid rgb(119, 215, 250);
    border-radius: 100vh;
    background: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
}
a.home:hover {
    color: #fff;
    background: rgb(153, 228, 255);
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
}

